{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Log in, just try.
		</p>
	</div>
</div>
